.propertyPaneLinks {
    .formSaveBtn {
      margin-top: 20px;
      float: right;
      margin-bottom: 10px;
    }
    .iconPickerBtnClass{
        margin-top: 20px;
    }
    .iconPickerPanelClass{
        /*I'm still empty*/
    }
    .iconClass{
        font-size: 40px;
        padding-top: 20px;
    }
    .iconClassListView{
        font-size:24px;
    }
    .savePaneControl{
        margin-top:20px;
    }
  }